<%= form_with(model: order, data: {
  controller: "nested-form",
  nested_form_wrapper_selector_value: '.nested-form-wrapper'
}) do |form| %>
  <% if order.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
        <% order.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-6">
      <%= form.label :customer_name, 'Customer name', class: 'form-label' %>
      <%= form.text_field :customer_name, class: 'form-control form-control-sm' %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <%= form.label :time_placed, 'Time placed', class: 'form-label' %>
      <%= form.text_field :time_placed, class: 'form-control form-control-sm' %>
    </div>
  </div>


  <div class="row">
    <%# Start Custom Logic Here %>
    <template data-nested-form-target="template">
      <%= form.fields_for :items, Item.new, child_index: 'NEW_RECORD' do |task_fields| %>
        <%= render 'orders/items_form', f: task_fields %>
      <% end %>
    </template>

    <%= form.fields_for :items do |task_fields| %>
      <%= render 'orders/items_form', f: task_fields %>
    <% end %>

    <div data-nested-form-target="target"></div>

    <div class="col-md-6 btn-mt-16">
      <button type="button" class="btn btn-secondary" data-action="nested-form#add">Add new Item</button>
    </div>

    <%# End Custom Logic %>
  </div>


  <div>
    <%= form.submit 'Save', class: 'btn btn-primary btn-mt-16' %>
  </div>
<% end %>
